/* .home__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.game__banner {
  min-width: 100%;
  height: 70vh;
  margin-bottom: 1rem;
}