.pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

/* .MuiPagination-ul button {
  color: white;
}

.MuiPagination-ul li div {
  color: white;
}  */